<% include header.ejs %>

<h3><a href="<%- categoryUrl(category) %>">posts in category * <%= category %></a></h3>

<% posts.forEach(function(post){ %>
  <% include postSnippet.ejs %>
<% }) %>

<% include footer.ejs %>
