<!DOCTYPE html>
<html>
  <head>
    <title>Poet Demo</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Poet Demos</a>
        </div>
      </div>
    </div>

    <div class="wrap">
      <div class="container">
        <div class="row">

          <div class="span8">
